APP_NAME=Pārdod Laimīgs CRM
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=lv

DB_CONNECTION=sqlite

WP_SITE_URL=https://pardodlaimigs.lv
WP_CRM_API_KEY=

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database
